.initstate{
  position:relative;
  transform-style:preserve-3d;
  margin-bottom:20px;
  transition:transform 1.5s ease-in-out;
  transform:rotateY(180deg) rotateZ(0deg) scale(1);
}
.hover{
  transform:rotateY(0deg) rotateZ(0deg) scale(1);
}
.right{
  position: absolute;
  transform-origin: left;
}
.left{
  position: absolute;
  transform-origin: left;
}
.top{
  position: absolute;
  transform-origin: top;
}
.bottom{
  position: absolute;
  transform-origin: top;
}
.back{
  position: absolute;
}
.front{
  transform: translateZ(-15px) rotateZ(0deg);
}
.back h3{
  position: relative;
  font-size: 48px;
}
.cover{
  position: absolute;
  background: url(../images/white_lens_flare.png) bottom right no-repeat, url(../images/lens-flare.png) -230px 0px no-repeat;
  transform-origin: center;
}
