.initstate{
  position:relative;
  transform-style:preserve-3d;
  margin-bottom:30px;
  transition:transform 1s ease-in;
  transform-origin:top center;
  transform:rotateY(180deg) rotateZ(0deg) scale(0.6);
}
.hover{
  transform:rotateY(0deg) rotateZ(0deg) scale(1);
}
.right, .right_link{
  position: absolute;
  transform-origin: left;
}
.left, .left_link{
  position: absolute;
  transform-origin: left;
}
.top{
  position: absolute;
  transform-origin: top;
}
.bottom{
  position: absolute;
  transform-origin: top;
}
.back, ._back_link{
  position: absolute;
}
.front{
  transform: translateZ(-15px) rotateZ(0deg);
}
.back h3{
  position: relative;
  font-size: 48px;
}
.cover, .front_link{
  position: absolute;
  background: url(../images/white_lens_flare.png) bottom right no-repeat, url(../images/lens-flare.png) -230px 0px no-repeat;
  transform-origin: center;
}
.subsection {
  margin-bottom: 30px;
}
.subsection-inner {
  background: #fff;
}
.subsection .content .more-link .fa {
  margin-right: 5px;
  font-size: 14px;
}
.subsection .item{

}
.connector{
  height:0;
  transform-style:preserve-3d;
  transition:transform 1s ease-in; 
  transform:rotateY(180deg) rotateZ(0deg) scale(1);
}

/*Cube Group CSS*/
.containerstate{
  position: relative;
  transform-origin:top;
  transform:rotateY(0deg) rotateZ(0deg) scale(0.6);
  transition:transform 1s ease-in;
}
.containerhover{
    transform:scale(1);
}
.groupinitstate{
  position:relative;
  transform-style:preserve-3d;
  margin-bottom:30px;
  transition:transform 1s ease-in;
  transform:rotateY(180deg) rotateZ(0deg) scale(1);
}
.grouphover{
    transform:rotateY(0deg) rotateZ(0deg) scale(1);
}